@import "global.css";
@import "x-btn.css";
@import "bar-anim.css";

/* ===================
   Main Heading
   =================== */

.page__heading p {
  color: var(--light-slate);
  text-align: center;
  margin-top: 5em;
  font-family: var(--font-mono);
  font-size: var(--fz-prompt);
  font-weight: var(--fw-normal);
}

.page__heading h1 {
  color: white;
  text-align: center;
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--fz-sm-hd);
  font-weight: var(--fw-bolder);
}

/* ===================
   About Description
   =================== */

/* Image */
.intro__img {
  margin: 0 auto 3em auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.intro__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* Description  */
.intro__about {
  padding: 0 1em;
}

.intro__about-desc {
  border-bottom: 2px solid var(--lightest-slate);
  margin-bottom: 2em;
}

.intro__about-desc h1 {
  color: var(--slate);
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fz-sub-hd);
  margin: 0;
}

.intro__about-desc h2 {
  color: var(--light-slate);
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fz-sub-hd);
  margin-top: 0.2em;
  margin-bottom: 0;
}

.intro__about-desc p:last-child {
  line-height: 1.5;
  color: var(--light-slate);
  margin-bottom: 2em;
  font-family: var(--font-sans);
  font-size: var(--fz-p);
  font-weight: var(--fw-normal);
}

.intro__about-detail {
  color: var(--light-slate);
  margin: 0 0 2.5em 0;
  line-height: 1;
  font-family: var(--font-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fz-p);
}

.intro__about-detail .hl {
  color: var(--slate);
  padding-right: 1em;
}

/* ===================
   Tech Stack
   =================== */

.tech .prompt {
  margin: 5em 0 0.5em 1em;
}

.tech h1 {
  color: var(--slate);
  margin: 0 0 1em 0.6em;
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fz-sub-hd);
}

/* TECH STACKS LIST --- IMP*/
.tech__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech__list li {
  width: 75px;
  height: 75px;
  margin: 0 1em 2.5em 1em;
}

.tech__list li svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  transition: var(--transition);
}

.tech__list li svg:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.tech a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

/* ===================
   Services
   =================== */

.services .prompt {
  margin: 3em 0 0.5em 1em;
}

.services h1 {
  color: var(--slate);
  margin: 0 0 1em 0.6em;
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  font-size: var(--fz-sub-hd);
}

.services .d-flex {
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.services__list-item {
  margin-bottom: 2em;
  width: 100%;
  height: 250px;
  background: var(--light-gray-tint);
}

/* ===================
   Media queries for 
   desktop screens
   =================== */

@media (min-width: 651px) {
  /* Intro */
  .intro {
    display: flex;
    vertical-align: top;
  }
  .intro__img {
    width: 45%;
    height: auto;
    border-radius: 0;
  }

  .intro__img img {
    width: 300px;
    height: auto;
    float: right;
  }
  .intro__about {
    width: 55%;
    margin-left: 3em;
  }

  .intro__about-desc p:last-child {
    width: 88%;
  }

  /* Services List */
  .services .d-flex {
    flex-direction: row;
  }
  .services__list-item:not(:last-child) {
    margin-right: 2em;
  }
}
