/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Roboto+Mono&display=swap");

/* Variables */
:root {
  --bg-dark: #000000;
  --bg-light: #101010;
  --bg-gray: #161616;
  --light-gray-tint: #3b3b3b27;
  --green: #009e66;
  --light-green: #00c781;
  --light-green-tint: #00c78156;
  --slate: #dadada;
  --light-slate: #9f9f9f;
  --lightest-slate: #bcbcbc;

  --font-sans: "Open Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --fz-hd: 3rem; /* 48px */
  --fz-sm-hd: 2rem; /* 32px */
  --fz-sub-hd: 1.5rem; /* 24px */
  --fz-prompt: 0.875rem; /* 14px */
  --fz-footer: 0.75rem; /* 12px */
  --fz-p-hd: 1.125rem; /* 18px */
  --fz-p: 0.875rem; /* 14px */

  --fw-normal: 400;
  --fw-highlight: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
  --fw-boldest: 800;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  line-height: 1.3;
  background-color: var(--bg-light);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

/* @media */
/* On desktop sizes increase the font-size to 110% of root. */
/* Mobile: 16px */
/* Desktop & Tablets: 17.6px */
@media (min-width: 651px) {
  html {
    font-size: 110%;
  }
}

/* Global classes */
.highlight {
  color: var(--green);
  font-size: inherit;
  font-weight: inherit;
}

.prompt {
  font-family: var(--font-mono);
  color: var(--green);
  font-size: var(--fz-prompt);
  font-weight: var(--fw-normal);
}

.container {
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
