/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;400;500;600;700;800&family=Roboto+Mono&display=swap");

/* Variables */
:root {
  --bg-dark: #000000;
  --bg-light: #101010;
  --bg-gray: #161616;
  --light-gray-tint: #3b3b3b27;
  --green: #009e66;
  --light-green: #00c781;
  --dark-green: #045a3c;
  --light-green-tint: #00c78156;
  --slate: #dadada;
  --light-slate: #9f9f9f;
  --lightest-slate: rgba(255, 255, 255, 0.08);

  --font-sans: "Open Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --fz-hd: 3rem; /* 48px */
  --fz-sm-hd: 2.5rem; /* 32px */
  --fz-sub-hd: 1.5rem; /* 24px */
  --fz-prompt: 0.875rem; /* 14px */
  --fz-footer: 0.75rem; /* 12px */
  --fz-p-hd: 1.125rem; /* 18px */
  --fz-p: 0.875rem; /* 14px */

  --fw-light: 100;
  --fw-normal: 400;
  --fw-highlight: 500;
  --fw-bold: 700;
  --fw-bolder: 800;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  line-height: 1.3;
  background-color: var(--bg-light);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* @media */
/* On desktop sizes increase the font-size to 110% of root. */
/* Mobile: 16px */
/* Desktop & Tablets: 17.6px */
@media (min-width: 651px) {
  html {
    font-size: 110%;
  }
}

/* Change ScrollBar */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #252525;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

/* Global classes */
.highlight {
  color: var(--green);
  font-size: inherit;
  font-weight: inherit;
}

.prompt {
  margin: 0 0 1.2em 0;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-prompt);
  font-weight: var(--fw-normal);
}

.container {
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.btn:link,
.btn:visited {
  color: var(--slate);
  padding: 0.7em 1.5em;
  border-radius: 2em;
  font-family: var(--font-sans);
  font-size: var(--fz-p);
  font-weight: var(--fw-highlight);
  background-color: var(--green);
  transition: var(--transition);
}

.btn:hover,
.btn:active {
  background-color: var(--dark-green);
}

.btn-inv:link,
.btn-inv:visited {
  color: var(--green);
  padding: 0.7em 1.5em;
  border: 3px solid var(--green);
  border-radius: 2em;
  font-family: var(--font-sans);
  font-size: var(--fz-p);
  font-weight: var(--fw-highlight);
  transition: var(--transition);
}

.btn-inv:hover,
.btn-inv:active {
  color: var(--slate);
  background-color: var(--green);
}
