.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #161616; */
  background: red;
  transform-origin: bottom;
  transform: scale(0);
  /* z-index: 2; */
}

.transition-swipe {
  transition: 0.7s ease-in;
  transform: scaleY(0);
}

html.is-animating .transition-swipe {
  transform: scaleY(100%);
}
