.transition {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 4;
  background-color: #161616;
  transition: 0.3s ease-out;
}

.transition.is-active {
  top: 0;
}

.transition-home {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: -100%;
  z-index: 4;
  background-color: #161616;
  transition: 0.4s ease-out;
}

.transition-home.is-active {
  bottom: 0;
}
