@import "global.css";
@import "mobile_nav.css";

/* ===================
   Loading screen
   =================== */
.splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--bg-dark);
}

.splash.fade-out {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: collapse;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--bg-dark);
  transition: all 0.5s;
}

#logo {
  display: inline-block;
  width: 7.5rem;
  height: auto;
  filter: drop-shadow(0 0 2px rgba(0, 158, 102, 0.5));
}

#logo.fade-out {
  display: inline-block;
  width: 0;
  height: auto;
  filter: drop-shadow(0 0 2px rgba(0, 158, 102, 0.5));
  transition: var(--transition);
}

#logo #hex {
  stroke-dasharray: 1074;
  stroke-dashoffset: -1074;
  animation: dash 1s var(--easing) forwards;
}

#logo #nm {
  animation: fadeIn 0.5s var(--easing) 1.3s forwards;
  opacity: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ================
   Navbar Menu
   ================ */
/* Logo  */
nav.d-flex {
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  padding: 1.5em 0;
}

#header__svg-logo {
  width: 55px;
  height: 55px;
  stroke-width: 5px;
  padding: 0;
  margin: 0;
  user-select: none;
}

/* SVG hover effect */
.header__logo svg:hover {
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 158, 102, 0.5));
  filter: drop-shadow(0 0 10px rgba(0, 158, 102, 0.7));
}

/* Desktop links */
.header__links {
  display: none;
}

.header__links a {
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-prompt);
  transition: var(--transition);
}

.header__links a:not(:first-child) {
  margin-left: 5em;
}

.header__links a:hover {
  color: white;
}

/* @media for desktop screens */
@media (min-width: 651px) {
  .header__links {
    display: block;
  }
  .header__menu {
    display: none;
  }
}
