#footer {
  position: absolute;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* To make the element stand at the bottom center of the screen.*/
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer__social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--lightest-slate);
}

#footer .footer__social ul {
  margin: 0;
  padding: 0;
  display: block;
  color: white;
  list-style-type: none;
}

.footer__mail::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--lightest-slate);
}

.footer__mail a {
  letter-spacing: 0.8px;
  color: var(--lightest-slate);
  padding: 1.5em 0;
  font-family: var(--font-mono);
  font-size: var(--fz-footer);
  font-weight: var(--fw-light);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: var(--transition);
}

.footer__mail a:hover {
  color: var(--light-green);
  padding-bottom: 1.8em;
}
